<p id="notice"><%= notice %></p>

<p>
  <strong>Game date:</strong>
  <%= @game.game_date %>
</p>

<p>
  <strong>Ref:</strong>
  <%= @game.ref %>
</p>

<p>
  <strong>Home team:</strong>
  <%= @game.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @game.away_team %>
</p>

<p>
  <strong>Location:</strong>
  <%= @game.location %>
</p>

<p>
  <strong>Home score:</strong>
  <%= @game.home_score %>
</p>

<p>
  <strong>Away score:</strong>
  <%= @game.away_score %>
</p>

<p>
  <strong>Gap:</strong>
  <%= @game.gap %>
</p>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
