<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @userplayer.user_id %>
</p>

<p>
  <strong>Player:</strong>
  <%= @userplayer.player_id %>
</p>

<p>
  <strong>Selected:</strong>
  <%= @userplayer.selected %>
</p>

<%= link_to 'Edit', edit_userplayer_path(@userplayer) %> |
<%= link_to 'Back', userplayers_path %>
